{% extends 'base.html' %}

{% block title %} Listar Pets {% endblock %}
{% block content %}

    <a href="{% url 'petshop:pet_create' %}"><button>Novo Pet</button></a>

    {% for pet in object_list %}
        <p>Nome: {{ pet.name }}</p>
        <p>Espécie: {{ pet.species }}</p>
        <p>Raça: {{ pet.breed }}</p>
        <a href="{% url 'petshop:pet_detail' pet.pk  %}">Detalhes do Pet</a>
        <a href="{% url 'petshop:pet_update' pet.pk %}">Editar</a>
        <hr>
    {% endfor %}

{% endblock content %}
