{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Criar Pet {% endblock %}
{% block content %}

<h1 class="my-5"> Cadastrar Pet </h1>

<form method="post">{% csrf_token %}
    <div class="row">
        {% for field in form %}
            {% if field.errors %}
                <div class="col-md-4 mb-4">
                    <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
                    {{ field | add_class:"form-control is-invalid" }}
                
                    {% for erro in field.errors%}
                        <span class="text-danger">{{ erro }}</span>
                    {% endfor %}
                </div>
            {% else %}
                <div class="col-md-4 mb-4">
                    <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
                    {% if field.name == 'birth_date' %}
                        {{ field | add_class:"form-control" |attr:"type:date" }}
                    {% else %}
                        {{ field | add_class:"form-control" }}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <input type="submit" class="btn btn-outline-success" value="Cadastrar">
</form>

{% endblock %}